.cart-item {
  margin: 10px;
  border: solid 1px black;
  display: flex;
  justify-content: space-evenly;
}
img {
  max-width:10rem;
  height:10rem;
}
.cart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.cart-info > h3 {
flex:1;
text-align: left;
}
.checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: .8%;
}
.checkout > button {
  margin-left: 10px;
}
@media (max-width: 845px) {
  .cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}