.product-pic-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#single-product-image {
  height: 500px;
  width: 500px;
  border: 1px black solid;
}
.rating {
  display: flex;
}
.product-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2rem;
  width: 60%;
}

#reviews {
  font-size: 1rem;
  display: flexbox;
  flex-direction: row;
  justify-content: start;
}

#product-name {
  font-size: 2.5rem;
  width: 60%;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}
