.box {
  width: 20%;
  height: 5%;
  border: 1px solid #999;
  font-size: 18px;
  color: black;
  background-color: #eee;
  border-radius: 5px;
  margin: 1rem;
  /* box-shadow: 4px 4px #ccc; */
}
.box option {
  background-color: #eee;
}
